.DS_Store
__pycache__/
*.pyc
venv/
node_modules/
.env
*.zip
*.dylib
*.jar
**/openJdk-*/
**/target/
.DS_Store
.idea/
.vscode/
node_modules/
*.zip
*.dylib
*.jar
**/openJdk-*/
**/target/
.DS_Store
.vscode/
.idea/
*.zip
*.dylib
S1/SQL/machin.java/openJdk-24.jdk/Contents/Home/lib/src.zip
S1/SQL/machin.java/openJdk-24.jdk/Contents/Home/lib/modules
