.DS_Store
__pycache__/
*.pyc
venv/
node_modules/
.env
*.zip
*.dylib
*.jar
**/openJdk-*/
**/target/
.DS_Store
.idea/
.vscode/
node_modules/
*.zip
*.dylib
*.jar
**/openJdk-*/
**/target/
.DS_Store
.vscode/
.idea/
